.BG
{
    background-image: url('imagens/BG.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
  }